body{
    margin: 0;
    padding: 0;
    background-color:greenyellow;
}
.navbar{
    list-style: none;
    padding: 3;
    margin: 2;
}
.navbar li{
    display: inline-block;
    text-align: center;
}
.navbar a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}
.navbar a:hover{ 
    background: orange;
}
ul {  
    list-style-type: none;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
    background-color: white;
    flex-direction: row;
    float: none;   
}      
  li {  
    float: left;  
  }  
    
  li a {  
    display: block; 
    color: black;
   font-size:30px;  
    text-align: center;  
    padding: 10px 20px;  
    text-decoration: none;  
    float: left;
    margin-right: 5px;
  }  
  #logo{
    display: flex;
    text-align: center;
    font-style: italic;
    justify-content: space-between;
    font-size: large;
    font-weight: 800px;
    align-items: center;
  }
  .images{
    height: 100px;
    width: 50px;
    float: left;
    padding-top: 3px;
  }
  #div *{ background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

  .h1{
    padding-left: 100px;
    margin-left: 60px;
    margin: auto;
}
  #navbar{
    justify-items: baseline;
    margin-right: 30px;
  }
  #button{
    background-color: coral;
  }
  .logo{
        width: 18%;
        height: 100%;
        border: 0.2vw #f4b41a solid;
        font-size: 2.1vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        opacity: 1;
  }
  #images{
    padding: 0px;
    margin: 0px;
    align-items: center;

  }
  #footer{
    margin-top: 3px;
    padding-bottom: 5px;
    flex: 10px;
    text-decoration: none;
    text-align: center;
  }
  .h1{
    text-align: center;
    text-decoration: none;
    flex-direction: row;text-indent: 30px;
    line-height: 22px;
    

    
  }