body{
    margin: 0;
    padding: 0;

}

ul {  
    list-style-type: none;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
    background-color: white
  }  
    
  li {  
    float: left;  
      }

  
  #sheds{
    display: flexbox;
    float: left; 
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
  }  
    
  li a {  
    display: block; 
    color: black;
   font-size:20px;  
    text-align: center;  
    padding: 20px 20px;  
    text-decoration: none;  
    float: left;
    margin-right: 10px;
    justify-items: right;
  }  
  
  .images{
    height: 100px;
    width: 50px;
    float: left;
    padding-top: 3px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .h1{
    padding-left: 100px;
    margin-left: 60px;
    text-align: center;

  }
  #navbar{
    margin-right: 20px;
    flex-direction: row;
    float: inline-end;
    justify-items: center;
    align-items: center;
  }
  #button{
    background-color: coral;
  }
  #div *{
    float: left;
    padding: 15px;
    background: red;
  }
